@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Robot Dreamer';
  src: url('/src/assets/fonts/Robot-Dreamer/Robot%20Dreamer.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Robot Dreamer', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#HeroVideo {
  transform: scaleX(-1) scale(1.7) rotate(10deg) translateX(10px) translateY(-60px);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
